* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  li {
    list-style: none;
  }

  body {
    font-family: 'Courier New', Courier, monospace;
  }


  /* MAIN */

  .maingrid {
    display: grid;
    grid-template-columns: minmax(auto-fit, 1fr) 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar maincontent";
  }

  .header {
    grid-area: header;
    /* border: 2px solid red; */

  }

  .sidebar {
    grid-area: sidebar;
    background-color: #1992D4;
  }

  .maincontent {
    grid-area: maincontent;
    /* border: 2px solid red; */
  }

  /* HEADER GRID */
  .icon {
    width: 25px;
  }

  .profilesmall {
    width: 40px;
  }

  .profilebig {
    width: 60px;
  }

  .header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 10px 20px;
  }

  .headertop {
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-auto-flow: column;
  }

  .search {
    display: grid;
    grid-template-columns: 30px 1fr;
    justify-items: start;
    align-items: center;
  }

  .searchbar {
    width: 80%;
    background-color: #E2E8F0;
    border: none;
    height: 30px;
    border-radius: 10px;
  }

  .notification {
    display: grid;
    grid-template-columns: 30px 30px auto;
    justify-content: end;
    align-items: center;
    column-gap: 20px;
  }

  .headerbottom {
    display: flex;
    justify-content: space-between;
  }

  .userinfo {
    display: flex;
    align-items: center;

  }

  .userinfo .hithere {
    font-size: 0.8rem;
  }

  .userinfo li {
    font-weight: bold;
  }
  
/* BUTTONS */
  .buttons {
    display: flex;
    align-items: center;
    justify-items: flex-end;
  }

  .buttons li + li {
    margin-left: 20px;
  }

  .buttons li {
    background-color: #1992D4;
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
  }

  /* gray button */

  .graybuttons {
    background-color: #4b4b4b6b;
    padding: 5px 15px;
    border-radius: 10px;
    color: white;
    width: max-content;
    margin-top: 10px;
  }
/* SIDEBAR */

.sidebar {
    color: white;
    min-width: min-content;
    padding: 20px;

}

.dashlogo {
    font-size: 2rem;
    font-weight: bold;
    padding: 30px 0;
}

.menu {
    font-size: 1.7rem;
    line-height: 3.5rem;
}

.sidebar ul + ul {
    margin-top: 60px;
}
.menu a {
    padding: 10px 100% 10px 0;
}
.menu li:hover {
    background-color: rgba(255, 255, 255, 0.158);
}

/* MAIN CONTENT */

  .maincontent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "contentleft contentright"    ;
    background-color: #E2E8F0;
    padding: 10px;
    gap: 20px;
  }

  /* LEFT GRID CONTENT */

  .leftcontent {
    grid-area: contentleft;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: min-content;
    gap: 20px;
    align-items: start;
    align-content: start;
  }

  .leftcontent > h1 {
    /* grid-column-start: span 1; */
    grid-column: 1 / -1;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background-color: white;
    padding: 10px 20px;

  }

  .cardbuttons {
    display: flex;
    justify-content: end;
    gap: 25px;
  }

    /* RIGHT GRID CONTENT */

    .rightcontent {
        grid-area: contentright;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
        align-content: start;
        gap: 20px;
    }

    .rightcontent > div {
        padding: 10px 20px;
    }


    .announcementcard {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .trendingitems {
        display: flex;
        align-items: center;
        gap: 20px;
    }

/* PROFILE PAGE */

.leftcontent.profile {
  align-items: center;
  flex-wrap: nowrap;
  display: grid;
  grid-template-columns: 1fr;
  min-width: 350px;
}

.card.profile {
  flex-direction: row;
  flex-wrap: wrap;
  grid-column: span 2;
  align-items: center;
  
  
}

.avatar {
  width: 250px;
}

.profilephoto {
  width: max-content;
  
}

.profileinfo , .profileroles {
  flex: 1;
  line-height: 1.5rem;
}

/* TEXT MESSAGES */

.card.textmessages {
  gap: 5px;  
}

.searchtextmessages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message > * {
  padding: 5px 10px;
}

.message:hover {
  background-color: #1992D460;
}

.subject {
  flex-grow: 2;
}

.sender {
  flex-grow: 1;
}

/* .card.textmessages > .searchbar {
  justify-items: end;
} */